<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850654486873-ipm799c7je6b5m5tk5dlbr9qkddmc112.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850654486873-ipm799c7je6b5m5tk5dlbr9qkddmc112</string>
	<key>API_KEY</key>
	<string>AIzaSyA4o1s-uL7RTlZA8b9VDB0V2YV5ZgwrD_I</string>
	<key>GCM_SENDER_ID</key>
	<string>850654486873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prueba</string>
	<key>PROJECT_ID</key>
	<string>platzitripsflutter-50f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitripsflutter-50f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850654486873:ios:c07f41dbe47f671081ac48</string>
</dict>
</plist>